*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Fredoka', sans-serif;
    margin-top: 60px;
    text-align: center;
    width: 900px;
    height: 700px;
    margin-left: 300px;


}

.text-pink-bold{
    font-weight:bolder;
    color: rgb(232, 95, 186);
}

.intro{
    padding-top: 50px;
}
