*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Fredoka', sans-serif;
    margin-top: 60px;
    text-align: center;
    line-height: 1.5rem;
    width: 1100px;
    height: 700px;
    margin-left: 240px;
}


.text-pink-bold{
    font-weight:bolder;
    color: rgb(232, 95, 186);
}

.intro{
    padding-top: 50px;
}

.container{
    contain: ;
    display: block;
    clear: both;
}

.first-cell{
    background-color: black;
    height: 100px;
    width: 340px;
    float: left;
    margin: 40px 10px;
}

.avatar{
    float: left;
    height: 100%;
    
}

.contents{
    float: left;
    padding-left: 5%;
    padding-top: 3%;

}
.name{
    color: white;
    font-size: small;
    text-align: left;

}

.description{
    color: white;
    text-align: left;
}

.mail{
    color: lightblue;
    text-align: left;
}
